<form class="{{cssClass}}" autocomplete="off">
  
  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <ul class="li-no-style">
      {{#each results as |result idx|}}
        <li  data-result-index="{{idx}}"> 
          <label class="beneos-tooltip">
            <span class="beneos-tooltiptext beneos-tooltip-content">
              <ul class="li-no-style">
                <li>{{result.name}} - {{beneosUpperFirst result.kind}}</li>
                <li>CR : {{result.properties.cr}} </li>
                <li>AC : {{result.properties.stat_ac}}</li>
               <li><img src="{{result.picture}}" class="beneos-search-picture" /></li>
              </ul>
            </span>
            {{result.name}}
            {{#if result.kind}}
            ({{beneosUpperFirst result.kind}})
            {{/if}}
          </label>
        </li>
      {{/each}}
    </ul>

  </section>
  
</form>

